/Chapter-1/hello_world/target
/Chapter-2/guessing_game/target
/Chapter-3/variables/target
/Chapter-3/data_types/target
/Chapter-3/functions/target
/Chapter-3/control_flow/target
/Chapter-4/ownership/target
/Chapter-5/structures/target
/Chapter-6/enumerations/target

/Practice/practice-rust/target